<table class="schedule-table mt0">
  <thead>
    <tr>
      <th colspan="2" class="schedule-time mono f7">UTC-4<br>Toronto</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="none">
      <td colspan="4"></td>
    </tr>
    <tr>
      <td class="b f7 lh-copy" colspan="2">All day</td>
      <td colspan="2" class="session-block session-exhibited-works">{% include session-exhibited-works.html year=2020 %}</td>
    </tr>
    <tr>
      <td class="text-left fw-bold fs-small lh-1" colspan="2"></td>
      <td class="session-block session-exhibited-works session-id=20005 %}">{% include session.html year=2020 session-id=20005 sessionCaption="From 11:00 to 17:00 UTC-4" %}</td>
      <td class="session-block session-exhibited-works session-id=20028 %}">{% include session.html year=2020 session-id=20028 sessionCaption="From 11:00 to 16:00 UTC-4" %}</td>
    </tr>
    <tr>
      <td>11</td>
      <td>:00</td>
      <td rowspan="2" class="session-block session-{% include session-type.html session-id=20047 %}">{% include session.html year=2020 session-id=20047 %}</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td></td>
    </tr>
    <tr>
      <td>12</td>
      <td>:00</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20030 %}">{% include session.html year=2020 session-id=20030 %}</td>
      <td rowspan="3" class="session-block session-{% include session-type.html session-id=20023 %}">{% include session.html year=2020 session-id=20023 %}</td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20021 %}">{% include session.html year=2020 session-id=20021 %}</td>
    </tr>
    <tr>
      <td>13</td>
      <td>:00</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20033 %}">{% include session.html year=2020 session-id=20033 %}</td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20013 %}">{% include session.html year=2020 session-id=20013 %}</td>
      <td></td>
    </tr>
    <tr>
      <td>14</td>
      <td>:00</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>18</td>
      <td>:00</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20044 %}">{% include session.html year=2020 session-id=20044 %}</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20003 %}">{% include session.html year=2020 session-id=20003 %}</td>
      <td></td>
    </tr>
    <tr>
      <td>19</td>
      <td>:00</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20012 %}">{% include session.html year=2020 session-id=20012 %}</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>20</td>
      <td>:00</td>
      <td rowspan="2" class="session-block session-{% include session-type.html session-id=20019 %}">{% include session.html year=2020 session-id=20019 %}</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td></td>
    </tr>
  </tbody>
</table>