<table class="schedule-table mt0">
  <thead>
    <tr>
      <th colspan="2" class="schedule-time mono f7">UTC-4<br>Toronto</th>
      <th class="width-unset"></th>
      <th class="width-unset"></th>
      <th class="width-unset"></th>
      <th class="width-unset"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="dn">
      <td colspan="6"></td>
    </tr>
    <tr>
      <td class="b f7 lh-copy" colspan="2">All day</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20039 %}">{% include session.html year=2020 session-id=20039 sessionCaption="All day Saturday<br>From 00:00 to 24:00 UTC-4" %}</td>
      <td rowspan="1" class="session-block session-exhibited-works session-id=20005 %}">{% include session.html year=2020 session-id=20005 sessionCaption="From 11:00 to 17:00 UTC-4" %}</td>
      <td rowspan="1" colspan="2" class="session-block session-exhibited-works session-id=20028 %}">{% include session.html year=2020 session-id=20028 sessionCaption="From 11:00 to 16:00 UTC-4" %}</td>    
    </tr>
    <tr>
      <td class="text-left fw-bold fs-small lh-1" colspan="2"></td>
      <td colspan="4" class="session-block session-exhibited-works">{% include session-exhibited-works.html year=2020 %}</td>
    </tr>
    <tr>
      <td>11</td>
      <td>:00</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20008 %}">{% include session.html year=2020 session-id=20008 %}</td>
      <td></td>
      <td></td>
      <td rowspan="10" class="session-block session-{% include session-type.html session-id=20046 %}">{% include session.html year=2020 session-id=20046 %}</td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td></td>
      <td rowspan="2" class="session-block session-{% include session-type.html session-id=20034 %}">{% include session.html year=2020 session-id=20034 %}</td>
      <td rowspan="4" class="session-block session-{% include session-type.html session-id=20009 %}">{% include session.html year=2020 session-id=20009 %}</td>
    </tr>
    <tr>
      <td>12</td>
      <td>:00</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20004 %}">{% include session.html year=2020 session-id=20004 %}</td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>13</td>
      <td>:00</td>
      <td></td>
      <td rowspan="2" class="session-block session-{% include session-type.html session-id=20024 %}">{% include session.html year=2020 session-id=20024 %}</td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20014 %}">{% include session.html year=2020 session-id=20014 %}</td>
      <td></td>
    </tr>
    <tr>
      <td>14</td>
      <td>:00</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20025 %}">{% include session.html year=2020 session-id=20025 %}</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20045 %}">{% include session.html year=2020 session-id=20045 %}</td>
      <td rowspan="3" class="session-block session-{% include session-type.html session-id=20016 %}">{% include session.html year=2020 session-id=20016 %}</td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td rowspan="2" class="session-block session-{% include session-type.html session-id=20020 %}">{% include session.html year=2020 session-id=20020 %}</td>
    </tr>
    <tr>
      <td>15</td>
      <td>:00</td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20041 %}">{% include session.html year=2020 session-id=20041 %}</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
