<table class="schedule-table mt0">
  <thead>
    <tr>
      <th colspan="2" class="schedule-time mono f7">UTC-4<br>Toronto</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="dn">
      <td colspan="4"></td>
    </tr>
    <tr>
      <td class="b f7 lh-copy" colspan="2">All day</td>
      <td colspan="2" class="session-block session-exhibited-works">{% include session-exhibited-works.html year=2020 %}</td>
    </tr>
    <tr>
      <td class="text-left fw-bold fs-small lh-1" colspan="2"></td>
      <td class="session-block session-exhibited-works session-id=20005 %}">{% include session.html year=2020 session-id=20005 sessionCaption="From 11:00 to 17:00 UTC-4" %}</td>
      <td class="session-block session-exhibited-works session-id=20028 %}">{% include session.html year=2020 session-id=20028 sessionCaption="From 11:00 to 16:00 UTC-4" %}</td>
    </tr>
    <tr>
      <td>11</td>
      <td>:00</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td></td>
      <td rowspan="4" class="session-block session-{% include session-type.html session-id=20007 %}">{% include session.html year=2020 session-id=20007 %}</td>
    </tr>
    <tr>
      <td>12</td>
      <td>:00</td>
      <td rowspan="3" class="session-block session-{% include session-type.html session-id=20029 %}">{% include session.html year=2020 session-id=20029 %}</td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
    </tr>
    <tr>
      <td>13</td>
      <td>:00</td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20003 %}">{% include session.html year=2020 session-id=20003 %}</td>
      <td rowspan="2" class="session-block session-{% include session-type.html session-id=20038 %}">{% include session.html year=2020 session-id=20038 %}</td>
    </tr>
    <tr>
      <td>14</td>
      <td>:00</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>18</td>
      <td>:00</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20006 %}">{% include session.html year=2020 session-id=20006 %}</td>
      <td rowspan="2" class="session-block session-{% include session-type.html session-id=20026 %}">{% include session.html year=2020 session-id=20026 %}</td>
    </tr>
    <tr>
      <td>19</td>
      <td>:00</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20037 %}">{% include session.html year=2020 session-id=20037 %}</td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td rowspan="2" class="session-block session-{% include session-type.html session-id=20011 %}">{% include session.html year=2020 session-id=20011 %}</td>
      <td></td>
    </tr>
    <tr>
      <td>20</td>
      <td>:00</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>