<table class="schedule-table mt0">
  <thead>
    <tr>
      <th colspan="2" class="schedule-time mono f7">UTC-4<br>Toronto</th>
      <th class="width-unset"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="dn">
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="b f7 lh-copy" colspan="2">All day</td>
      <td colspan="1" class="session-block session-exhibited-works">{% include session-exhibited-works.html year=2020 %}</td>
    </tr>
    <tr>
      <td class="text-left bold f6 lh-1" colspan="2"></td>
      <td rowspan="1" class="session-block session-exhibited-works session-id=20005 %}">{% include session.html year=2020 session-id=20005 sessionCaption="From 11:00 to 17:00 UTC-4" %}</td>
    </tr>
    <tr>
      <td>18</td>
      <td>:00</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20040 %}">{% include session.html year=2020 session-id=20040 %}</td>
    </tr>
    <tr>
      <td>19</td>
      <td>:00</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20008 %}">{% include session.html year=2020 session-id=20008 %}</td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20031 %}">{% include session.html year=2020 session-id=20031 %}</td>
    </tr>
    <tr>
      <td>20</td>
      <td>:00</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20035 %}">{% include session.html year=2020 session-id=20035 %}</td>
    </tr>
    <tr>
      <td></td>
      <td>:30</td>
      <td rowspan="1" class="session-block session-{% include session-type.html session-id=20036 %}">{% include session.html year=2020 session-id=20036 %}</td>
    </tr>
  </tbody>
</table>