<footer class="bt mono pb1 pt1 f7 pa3">
  <div class="container">

    <p><a class="black" href="https://twitter.com/_ournetworks" target="_blank" rel="noopener">@_ournetworks</a></p>

    <p><a class="black" href="https://ournetworks.ca/code-of-conduct/">Code of Conduct</a>, email <a href="mailto:coc@ournetworks.ca" class="black">coc@ournetworks.ca</a></p>
    <p></p>

    <p><a class="black" rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
  </div>
</footer>
