$accent-color: #00FF00;
$accent-color-mod: #FFFF00;
$mono-font-family: SourceCode,Consolas,Liberation Mono,Menlo,Courier,monospace;
$on-palm: 736px;
$content-width: 675px;

a {
  color: #000;

  &:hover {
    text-decoration: none;
  }
}

.mono {
  font-family: $mono-font-family;
  font-variation-settings: "wght" 401.49;
}

.color-accent {
  color: $accent-color;
}

.bg-accent {
  background-color: $accent-color;
}

.hover-bg-accent:hover {
  background-color: $accent-color;
}

.highlight {
  background-color: rgba($accent-color,.1);
}

.highlight-mod {
  background: rgba($accent-color-mod,.2);
}

.sticky {
  position: sticky;
}

#chat-area {
  min-width: 320px;
  min-height: 50vh;
}

.top-3 {
  top: 70px;
}